* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
}

/* *****************************************8 */

.container {
  padding: 0 15px;
  margin: 0 auto;

  width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.photo {
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  height: 250px;
  width: 400px;
}

.gallery {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.photo-card {
  flex-basis: calc(100% / 3 - 30px);
  display: flex;

  flex-direction: column;

  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 10px;

  transition: scale, 250ms, liner;
}

.photo-card:hover,
.photo-card:focus {
  scale: 1.02;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.info {
  display: flex;
  /* flex-grow: 1; */
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid #c3c2c2;
  border-left: 1px solid #c3c2c2;
  border-right: 1px solid #c3c2c2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  box-shadow: 0 3px 1px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 8%),
    0 2px 2px rgb(0 0 0 / 12%);
}

.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-form--input {
  width: 300px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: none;
  outline: none;

  font-size: 15px;
  padding: 10px;
}

.load-more {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background-color: #4056b4;
  border: none;
  border-radius: 2px;
  margin: 30px auto;
  padding: 10px 20px;
  font-size: large;
  transition: scale, 250ms, liner;
}

.load-more:hover,
.load-more:focus {
  scale: 1.02;
}

.thumb {
  background-color: #4056b4;
  margin-bottom: 15px;
}

.submit-btn {
  border: none;
  color: #000;
  cursor: pointer;
  background: #c3c2c2;
  padding: 5px;
  width: 50px;
}

.icone {
  fill: #000;
}
